<!DOCTYPE html>
<html>
<head>
  <title>My Node App</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Välkommen till Inloggningssystemet</h1>
  <ul>
    <li><a href="/register">Registrera ny användare</a></li>
    <li><a href="/login">Logga in</a></li>
    <li><a href="/change-password">Ändra lösenord</a></li>
  </ul>
</body>
</html>
